* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(270deg, #122538, #000000, #122538);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.background-image {
  background-size: cover;
  display: block;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

#responsive_headline {
  position: absolute;
  width: 100%;
  top: 30vh;
  z-index: 10;
  text-align: center;
  color:white;
  text-shadow: black 5px;
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
}

#footer {
  position:absolute;
  bottom: 5px;
  font-size:10px;
  z-index: 20;
  color: white;
  text-align: center;
  width: 100%;
}