* {
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
}

.background-image {
  background-size: cover;
  display: block;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

#responsive_headline {
  position: absolute;
  width: 100%;
  top: 30vh;
  z-index: 10;
  text-align: center;
  color:white;
  text-shadow: black 5px;
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
}

#footer {
  position:absolute;
  bottom: 5px;
  font-size:10px;
  z-index: 20;
  color: white;
  text-align: center;
  width: 100%;
}