* {
  box-sizing: border-box;
}

body {
  display: none;
  background: linear-gradient(270deg, #2c2c2c, #000000, #2c2c2c);
  background-size: 600% 600%;
  -webkit-animation: BackgroundAnimation 30s ease infinite;
  -moz-animation: BackgroundAnimation 30s ease infinite;
  animation: BackgroundAnimation 30s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.background-image {
  background-size: cover;
  display: block;
  -webkit-animation: blur 10s ease infinite;
  -moz-animation: blur 10s ease infinite;
  animation: blur 10s ease infinite;
  height: 160vh;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

@-webkit-keyframes blur {
  0%, 100%  {   filter: blur(50px);
    -webkit-filter: blur(50px); }
  50% {   filter: blur(150px);
    -webkit-filter: blur(150px); }
}
@-moz-keyframes blur {
  0%, 100%  {   filter: blur(50px);
    -webkit-filter: blur(50px); }
  50% {   filter: blur(150px);
    -webkit-filter: blur(150px); }
}
@keyframes blur {
  0%, 100%  {   filter: blur(50px);
    -webkit-filter: blur(50px); }
  50% {   filter: blur(150px);
    -webkit-filter: blur(150px); }
}

#responsive_headline {
  position: absolute;
  width: 100%;
  top: 30vh;
  z-index: 10;
  text-align: center;
  color:white;
  text-shadow:    -1px -1px 0 grey,  
  1px -1px 0 grey,
  -1px 1px 0 grey,
   1px 1px 0 grey;
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
}

#footer {
  position:absolute;
  bottom: 5px;
  font-size:10px;
  z-index: 20;
  color: white;
  text-align: center;
  width: 100%;
}

#socials {
  position: absolute;
  bottom: 7vh;
  z-index: 10;
  width: 100%;
  text-align: center;
}
#socials > a {
  z-index: 10;
  font-size: 6vh;
  margin: 1vw;  
  color: white;
  text-decoration: none;
}
#socials > a:hover {
    opacity: 0.7;
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?anq7nz');
  src:  url('fonts/icomoon.eot?anq7nz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?anq7nz') format('truetype'),
    url('fonts/icomoon.woff?anq7nz') format('woff'),
    url('fonts/icomoon.svg?anq7nz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
  color: white;
}
.icon-facebook2:before {
  content: "\ea91";
  color: white;
}
.icon-instagram:before {
  content: "\ea92";
  color: white;
}
.icon-twitter:before {
  content: "\ea96";
  color: white;
}
.icon-youtube:before {
  content: "\ea9d";
  color: white;
}
.icon-steam2:before {
  content: "\eaad";
  color: white;
}
.icon-soundcloud2:before {
  content: "\eac4";
  color: white;
}
.icon-linkedin2:before {
  content: "\eaca";
  color: white;
}
.icon-lastfm2:before {
  content: "\eacc";
  color: white;
}
